[alias]
xtask = "run --package xtask --"

[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = "probe-rs run --chip RP2040 --speed 10000"

[env]
DEFMT_LOG = "info"
# levels -> trace, debug, info, warn, error
# Module based logging:
# "Smartcoaster=trace"
# "Smartcoaster::storage::historical=trace"
# "Smartcoaster::application::application_manager=trace"
# "Smartcoaster::application::led_manager=trace,Smartcoaster::drink_monitor=trace"
# "Smartcoaster::drink_monitor=trace"
# "Smartcoaster::weight::weight=trace"
# "Smartcoaster::hmi::display=trace"
# "Smartcoaster::hmi::inputs=trace"