name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - v*.*.*
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - bootloader
          - application

    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Add required target
        run: rustup target add thumbv6m-none-eabi
      - name: Build ${{ matrix.package }}
        run: cargo xtask build ${{ matrix.package }}
      - name: Upload ${{ matrix.package }}
        uses: actions/upload-artifact@v4
        with:
          name: smartcoaster-${{ matrix.package }}
          path: |
            target/thumbv6m-none-eabi/release/smartcoaster-${{ matrix.package }}
            target/thumbv6m-none-eabi/release/smartcoaster-${{ matrix.package }}.bin

  build-loader-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build firmware-loader-cli
        run: cargo build --release --package firmware-loader-cli
      - name: Upload firmware-loader-cli
        uses: actions/upload-artifact@v4
        with:
          name: firmware-loader-cli
          path: target/release/firmware-loader-cli

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'

    steps:
      - uses: actions/checkout@v4
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            smartcoaster-bootloader/smartcoaster-bootloader
            smartcoaster-bootloader/smartcoaster-bootloader.bin
            smartcoaster-application/smartcoaster-application
            smartcoaster-application/smartcoaster-application.bin
            firmware-loader-cli/firmware-loader-cli
          draft: yes
          generate_release_notes: yes